.frame-pay{
    margin-top: 90px;
    width: 601px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    border: 1px solid #666;
    background: #FFF;
}
.frame-pay h5{
    margin-top: 50px;
    color: #2E2C2F;
    font-size: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}
.frame-pay p{
    color: #2C2E2F;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}
.form-text{
    padding-left: 20px !important;
    width: 428px !important;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #9DA3A6;
    background: #FFF;
    color: #2C2E2F;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-text::placeholder{
    color: #2C2E2F;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}
.forget{
    color: #1072EB;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-left: -315px;
}
.btn-next{
    margin-top: 20px;
    width: 428px;
    height: 70px;
    color: #FFF;
    font-size: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #9DA3A6;
    background: #142C8E;
    transition: all 0.2s ease;
}
.btn-next:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
}
.or{
    color: #6C7378;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    margin-left: 95px;
}
.line{
    margin: 0;
    width: 188px;
    height: 1px;
    background: #6C7378;
}
.btn-signup{
    width: 428px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid #142C8E;
    background: #FFF;
    color: #142C8E;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}
.btn-signup:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #142C8E;
}
.flag{
    margin-left: 170px;
    margin-top: 10px;
}
.flag-label{
    color: #666;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}
.foot{
    margin-top: 60px;
    padding-top: 20px;
    height: 60px;
    background: #F7F9FA;
}
.foot-bar{
    color: #000;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2px;
}